.config
InstalledFiles
FXRuby.spec
scripts/make-installers.rb
*.iss
*.iss.in
doap.rdf
Makefile
*.tmproj
doc/api
doc/*.html
ext/fox16/*_wrap.cpp
ext/fox16/*.o
ext/fox16/conftest.dSYM
ext/fox16/include/inlinestubs.h
ext/fox16/librb.c
ext/fox16/fox16.bundle
ext/fox16/mkmf.log
lib/fox16/kwargs.rb
pre-config.rb
swig-interfaces/dependencies
