doap.rdf
*.tmproj
doc/api
users_guide/*.html
ext/fox16_c/*_wrap.cpp
ext/fox16_c/*.o
ext/fox16_c/conftest.dSYM
ext/fox16_c/include/inlinestubs.h
ext/fox16_c/extconf.h
ext/fox16_c/swigruby.h
ext/fox16_c/fox16.bundle
ext/fox16_c/mkmf.log
lib/fox16/kwargs.rb
lib/[0-9].[0-9]
lib/*.so
fox-includes/diffs.py
fox-includes/diffs.txt
pkg
tmp
vendor
*.orig
*.rej
/Gemfile.lock
/ports
/.bundle
/.yardoc
