image: Visual Studio 2019

clone_depth: 1

init:
  - SET PATH=c:/Ruby%ruby_version%/bin;c:/msys64/%MSYSTEM%/bin;%PATH%
  - SET RAKEOPT=-rdevkit
install:
  - ps: |
      if ($env:ruby_version -like "*head*") {
        $(new-object net.webclient).DownloadFile("https://github.com/oneclick/rubyinstaller2/releases/download/rubyinstaller-head/rubyinstaller-$env:ruby_version.exe", "$pwd/ruby-setup.exe")
        cmd /c ruby-setup.exe /verysilent /dir=C:/Ruby$env:ruby_version
      }
  - ruby --version
  - gem --version
  - ridk version
  # Remove gcc-ada and gcc-objc, since they are no longer supported by msys2 and therefore cause a dependency issue
  - c:/msys64/usr/bin/bash -lc "pacman --noconfirm --remove mingw-w64-i686-gcc-ada mingw-w64-i686-gcc-objc mingw-w64-x86_64-gcc-ada mingw-w64-x86_64-gcc-objc"
  - c:/msys64/usr/bin/bash -lc "pacman -Syu --noconfirm --ask 20"
  - c:/msys64/usr/bin/bash -lc "pacman -Su --noconfirm"
  - c:/msys64/usr/bin/bash -lc "pacman -S --noconfirm --needed ${MINGW_PACKAGE_PREFIX}-fox ${MINGW_PACKAGE_PREFIX}-swig"
  - swig -version
  - gem install bundler --conservative
  - bundle config set force_ruby_platform true
  - bundle install
build_script:
  - bundle exec rake compile
test_script:
  - bundle exec rake test
environment:
  matrix:
    - ruby_version: "head-x64"
      MINGW_PACKAGE_PREFIX: "mingw-w64-x86_64"
      MSYSTEM: "MINGW64"
    - ruby_version: "24"
      MINGW_PACKAGE_PREFIX: "mingw-w64-i686"
      MSYSTEM: "MINGW32"
